html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
/* ol, ul, li,*/
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
}


body {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}

p {
    justify-content: center;
    font-family: 'Krub', sans-serif;

}

/*lien*/
a,
a:visited {
    text-decoration: none;
    transition: 0, 7s ease;
    color: wheat;
}

a:hover {
    opacity: 0, 7;
}

/*titres*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'K2D', sans-serif;
}

h1 {
    font-size: 4rem;
    font-weight: 800;
}

h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 15px;
}

h3,
h4,
h5,
h6 {
    font-weight: 600;
    margin: 10px 0;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.8rem;
}

h5 {
    font-size: 2.5rem;
}

h6 {
    font-size: 2rem;
}

header {
    width: 100%;
    top: 0;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1170px; 
}

.menu-principal {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.menu-principal ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
    background-color: black
}

.menu-principal ul li {
    display: inline-block;
    padding: 15px 15px;
    text-decoration: none;
}

.menu-principal ul li a {
    text-decoration: none;
    color: wheat;
}

.background {
    height: 700px;
    background-image: url("../images/armenia/place_republique_erevan.jpg");
    background-size: cover;
    margin-top: 48px;
    display: flex;
    justify-content: center;
}

.background p {
    margin-top: 60px;
}

.background div {
    margin-left: 50px;
}

.background a {
    background-color: black;
    padding: 10px 50px;
}

.concept-flex {
    display: flex
}

.concept {
    background-color: #4891a3
}

#concept-padding{
    padding: 40px;
}

.concept h2 {
    text-align: center;
    color: black;
}

.dresc{
        display: flex;
        flex-direction: column;
        
}
.concept p {

    padding: 15px;
    color: black;
    text-align: justify;
    font-size: 20px;

}

.img-concept {
    width: 345px;
}

.product-new {
    background-color: gainsboro;
    padding: 60px 0;
}

.product-new h2 {
    display: flex;
    justify-content: center;
}

.product-new .product {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    flex: 1;
    margin-right: 20px;
    margin: 30px;
}

.product-new .container {
    display: flex;
}

.product-new .product:last-of-type {
    margin-right: 30px;
}

.product header {
    background-image: url('../images/armenia/dolma.jpg');
    background-size: cover;
    background-position: center;
    height: 200px;

}

.product:nth-child(2) header {
    background-image: url('../images/armenia/e2d21ac47a64ec3dfb7741f7b72e096a.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.product:nth-child(3) header {
    background-image: url('../images/armenia/OIP.jpg');
    background-size: cover;
    background-repeat: no-repeat;
 }

.product-body .product-title {
    display: flex;
    padding: 5px;
    justify-content: space-between;
    font-weight: bold;
    align-items: center;
    background-color: white;
}

.description {
    padding: 20px;
    font-size: 14px;
    background-color: white;    
}

.product-body h2 {
    font-size: 1.50rem;
    margin: 0px;

}

.product-title {
    font-family: Arial, Helvetica, sans-serif;
    border-top: black solid 1px;
    background-color: white;
    padding: 7px;
}

.information {
    display: flex;
    justify-content: space-around;
}

.footer .information {
    padding: 50px 0;
}

#textarea { 
    resize: none;
}

label {
    display: inline-block;
}

.size {
    width: 55px;
}

.footer-titre {
    font-weight: bold;
}

.widget {    
    border: 1px solid #eaeaea;
    border-radius: 2px;
    padding: 3px 5px;
    background-color: white;
    font-family: 'Krub', sans-serif;
    font-size: 15px;
    margin: 5px 0;
    
}

/*---header.css---*/

.header_nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: white;
    align-items: center;
}

.header_nav img{
    width: 7%;
}

a:visited {
    color: black;
  }
  a:active {
    color: rgb(0, 255, 242);
  }
  a:hover {
   color: rgb(0, 255, 242);
  }
a:visited {
        color: black;
      }
a:active {
        color: rgb(0, 255, 242);
      }
a:hover {
       color: rgb(0, 255, 242);
      }
a{
    text-decoration: none;
    outline: none;
    color: black;
}

/*----Sous-menu----*/

#primary_nav_wrap{
    margin-right: 200px;
}

#primary_nav_wrap ul
{
    list-style:none;
    position:relative;
    float:left;
    margin:0;
    padding:0
}

#primary_nav_wrap ul a
{
    display:block;
    color:black;
    text-decoration:none;
    padding:0 2px;
    margin-right: 150px;
}

#primary_nav_wrap ul li
{
    position:relative;
    float:left;
    margin:0;
    padding:0
}

#primary_nav_wrap ul li.current-menu-item
{
    background:white
}

#primary_nav_wrap ul li a:hover
{
    color: #4891a3;
}

#primary_nav_wrap ul ul
{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:white;
    padding:0
}

#primary_nav_wrap ul ul li
{
    float:none;
    width:200px
}

#primary_nav_wrap ul ul a
{
    line-height:120%;
    padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
    top:0;
    left:100%
}

#primary_nav_wrap ul li:hover > ul
{
    display:block
}

/*---Footer---*/

footer{
    background-color: #4891a3;
    padding: 2% 2% 1% 2%;
}
.index__footer{
    display: flex;
    justify-content: space-around;
    border: pink 2px solid;
    
}
footer nav{
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    padding-bottom: 2%;

}
footer nav a{
    text-decoration: none;
    font-size: 140%;
}
.index__footer ul{
    display: flex;
    margin-top: 5%;
}
.index__footer ul a{
    margin-left: 20%;
}
.index__footer img{
    justify-content: center;
    width: 32px;
    height: 32px;
}

.index__footer > ul a:hover{
    transform: scale(2);
}