*{
    margin: 0;
    box-sizing: border-box;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: violet;
    
}
#slide {
    height: 100vh;
    background-color: wheat;
    
}
#slide {
    display: flex;
    text-align: center;
    align-items: center;

justify-content: center;
}
.diapo {
    width: 100vw;
    height: 100vh;
}
#sec1 {
    height: 110vh;
    background-color: yellowgreen;
    display: flex;
    flex-direction: column;
}
.row1, .row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.item1, .item2, .item3{
    border-radius: 5px;
    margin: 2% 0 0 0;
    background-color: wheat;
    width: 500px;
    height:400px;
}
.vid1, .vid2{
    -moz-border-radius: 15px;
    border-radius: 5px;
    overflow:hidden;
    box-shadow: 10%;
}
.item2 {
    
    background-image: url(../images/spain/Catalogne/lieux/wp4196581-la-sagrada-familia-wallpapers.jpg);
    background-repeat: no-repeat;
    background-size: cover
}
.item4, .item5, .item6 {
    border-radius: 5px;
    margin: 5% 0 5% 0;
    background-color: rgb(105, 84, 44);
    width: 500px;
    height:400px;
    gap: 10px;
}



