*{
    margin: 0;
    box-sizing: border-box;
}
/* debut header & nav */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: white;
}

header img{
    width: 7%;
}

header .index__header--nav{
    margin: 20px;
    padding: 20px;
}

header a{
    padding: 80px;
    text-decoration: none;
    outline: none;
}

a:visited {
    color: black;
  }
  a:active {
    color: rgb(0, 255, 242);
  }
  a:hover {
   color: rgb(0, 255, 242);
  }
a:visited {
        color: black;
      }
a:active {
        color: rgb(0, 255, 242);
      }
a:hover {
       color: rgb(0, 255, 242);
      }
a{
    text-decoration: none;
    outline: none;
    color: black;
}
/* fin header & nav */
main {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: violet;
    background-attachment: fixed;
    
}
#slide {
    height: 100vh;
    background-color: wheat;
    
}

#slide {
    display: flex;
    text-align: center;
    align-items: center;

justify-content: center;
}
.diapo {
    width: 100vw;
    height: 100vh;
}
#sec1 {
    height: 110vh;
    background-color: yellowgreen;
    display: flex;
    flex-direction: column;
}
h1 {
    margin: 30px;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.row1, .row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.item1, .item2, .item3{
    border-radius: 5px;
    margin: 0% 0 0 0;
    background-color: wheat;
    width: 500px;
    height:400px;
}
.vid {
    -moz-border-radius: 15px;
    border-radius: 5px;
    overflow:hidden;
    box-shadow: 10%;
}
.item2 {
    
    background-image: url(../images/spain/Catalogne/lieux/wp4196581-la-sagrada-familia-wallpapers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.item4, .item5, .item6 {
    border-radius: 5px;
    margin: 0% 0 5% 0;
    background-color: rgb(105, 84, 44);
    width: 500px;
    height:400px;
    gap: 10px;
}

footer{
    background-color: #4891a3;
    padding: 2% 2% 1% 2%;
}
.index__footer{
    display: flex;
    justify-content: space-around;
    border: pink 2px solid;
    
}
footer nav{
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    padding-bottom: 2%;

}
footer nav a{
    color: white;
    text-decoration: none;
    font-size: 140%;
}
.index__footer ul{
    display: flex;
    margin-top: 5%;
}
.index__footer ul a{
    margin-left: 20%;
}
.index__footer img{
    justify-content: center;
    width: 32px;
    height: 32px;
}
article a:hover{
    transform: scale(2);

}

ul a:hover{
    transform: scale(2);
}

/* animatons & frames*/

.diaporama {
    animation: slide 13.5s ease infinite 0s;
    width: 100vw;
    height: 100vh;
    
  }

@keyframes slide {
    0%, 14.81%, 100% {
      transform: translate(0,0);
    }
    25.93%, 40.74% {
      transform: translate(-25%,0);
    }
    51.85%, 66.67% {
      transform: translate(-50%,0);
    }
    77.78%, 92.59% {
      transform: translate(-75%,0);
    }
  }


