
/* body */
body{
    
    margin: 0%;
    background-color: #D4F0F0;
    background-image: ;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;   
}


/*---header.css---*/

*{
    padding: 0;
    margin: 0;
}

/*---header.css---*/

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: white;
}

header img{
    width: 7%;
}

a:visited {
    color: black;
  }
  a:active {
    color: rgb(0, 255, 242);
  }
  a:hover {
   color: rgb(0, 255, 242);
  }
a:visited {
        color: black;
      }
a:active {
        color: rgb(0, 255, 242);
      }
a:hover {
       color: rgb(0, 255, 242);
      }
a{
    text-decoration: none;
    outline: none;
    color: black;
}
/*----Sous-menu----*/

#primary_nav_wrap{
    margin-top:30px;
    margin-right: 200px;
}

#primary_nav_wrap ul
{
    list-style:none;
    position:relative;
    float:left;
    margin:0;
    padding:0
}

#primary_nav_wrap ul a
{
    display:block;
    color:black;
    text-decoration:none;
    padding:0 2px;
    margin-right: 150px;
}

#primary_nav_wrap ul li
{
    position:relative;
    float:left;
    margin:0;
    padding:0
}

#primary_nav_wrap ul li.current-menu-item
{
    background:white
}

#primary_nav_wrap ul li a:hover
{
    color: #4891a3;
}

#primary_nav_wrap ul ul
{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:white;
    padding:0
}

#primary_nav_wrap ul ul li
{
    float:none;
    width:200px
}

#primary_nav_wrap ul ul a
{
    line-height:120%;
    padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
    top:0;
    left:100%
}

#primary_nav_wrap ul li:hover > ul
{
    display:block
}



/* main */
/* annim images */
.gallery:hover img:not(:hover) {
	opacity: 0.3;
}
.wrap {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin: 2vh;
    min-height: 60vh;
}
h1{
    display: flex;
    justify-content: center;
}
.gallery {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	gap: 1rem;
	padding: 10vh;
    
}

/* image 1 */
.thailand__main--img3 {
	max-width: 250px;
	border: 5px solid #7c4400;
	border-radius: 10px;
	box-shadow: 5px 5px 20px -5px #7c4400;
	transition: 0.5s;
	cursor: pointer;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.thailand__main--img{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    align-items: center;
}
.thailand__main--img > img{
    max-height: 25vw ;
}
.thailand__main--img > h2{
    animation: 3s ease-in 1s infinite reverse both running slidein;
}
article > img{
    max-height: 30vh;
}




.thailand{
    display: flex;
    flex-direction: column;
    width: ;
    margin: 10%;
    margin-top: 10vh;
    margin-bottom: 9vh;
}
#article-2{
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
}
#article-2 > div{
    margin-right: 3vw;
}
.thailand__main--article{
    display: flex;
    margin-top: 10vh;
    margin-bottom: 9vh;
    border: 5px solid #7c4400;
	border-radius: 10px;
	box-shadow: 5px 5px 20px -5px #7c4400;
}
.thailand__main--article1{
    margin-left: 3vw;
}



/* dernier articles  */
.thailand__main--art2 {
    display: flex;
    margin-top: 5vh;
    justify-content: space-around;

}
.thailand__main--art3{
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    text-align: center;
    padding: 1% 1% 1% 1%

}
.thailand__main--art4{
    border: 5px solid #7c4400;
	border-radius: 10px;
    width: auto;
    box-shadow: 5px 5px 20px -5px #7c4400;

}
.thailand__main--art4 > img{
    display: flex;
    justify-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 5px;
}

/* movi */


/* Map */
.map, .movi{
    display: flex;
    justify-content: center;
    margin-bottom: 10vh;
    margin-top: 10vh;
}




  /* footer */

footer{
    background-color: #4891a3;
    padding: 2% 2% 1% 2%;
}
.index__footer{
    display: flex;
    justify-content: space-around;
    border: pink 2px solid;
    
}
footer nav{
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    padding-bottom: 2%;

}
footer nav a{
    text-decoration: none;
    font-size: 140%;
}
.index__footer ul{
    display: flex;
    margin-top: 5%;
}
.index__footer ul a{
    margin-left: 20%;
}
.index__footer img{
    justify-content: center;
    width: 32px;
    height: 32px;
}

.index__footer > ul a:hover{
    transform: scale(2);
}
