        /*header*/

        header{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            position: sticky;
            top: 0;
            background-color: white;
          }
          
          header img{
            width: 7%;
          }
          
          header .index__header--nav{
            margin: 20px;
            padding: 20px;
          }
          
          header a{
            padding: 80px;
            text-decoration: none;
            outline: none;
          }
          
          a:visited {
            color: black;
          }
          a:active {
            color: rgb(0, 255, 242);
          }
          a:hover {
           color: rgb(0, 255, 242);
          }
          header a:visited {
                color: black;
              }
          a:active {
                color: rgb(0, 255, 242);
              }
          a:hover {
               color: rgb(0, 255, 242);
              }
          header a{
            text-decoration: none;
            outline: none;
            color: black;
          }

        /*footer*/

footer{
    background-color: #2e475d;
    padding: 2% 2% 2% 2%;
    position: absolute; bottom: 0; left: 0; right: 0;
}

.index__footer{
    display: flex;
    justify-content: space-around;
    border: #ff5c35 2px solid;
    
}
footer nav{
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    padding-bottom: 2%;

}
footer nav a{
    color: white;
    text-decoration: none;
    font-size: 140%;
}
.index__footer ul{
    display: flex;
    margin-top: 5%;
}
.index__footer ul a{
    margin-left: 20%;
}
.index__footer img{
    justify-content: center;
    width: 32px;
    height: 32px;
}
article a:hover{
    transform: scale(2);

}

ul a:hover{
    transform: scale(2);
}